---
apiVersion: v1
kind: ConfigMap
metadata:
  name: mariadb-initdb-config
data:
  init.sql: |
    CREATE DATABASE IF NOT EXISTS fcgidb;
    USE fcgidb;
    CREATE TABLE users (
      id INT AUTO_INCREMENT PRIMARY KEY,
      username VARCHAR(64) NOT NULL UNIQUE,
      password VARCHAR(128) NOT NULL,
      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    ); 
    CREATE DATABASE IF NOT EXISTS boarddb;
    USE boarddb;
    CREATE TABLE posts (
    id INT AUTO_INCREMENT PRIMARY KEY,
    title VARCHAR(255) NOT NULL,
    content TEXT NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    );
    
    CREATE USER `fcgiuser`@`%` IDENTIFIED BY `fcgipass`;
    GRANT ALL PRIVILEGES ON fcgidb.* TO `fcgiuser`@`%`;

    CREATE USER `boarduser`@`%` IDENTIFIED BY `boardpass`;
    GRANT ALL PRIVILEGES ON boarddb.* TO `boarduser`@`%`;
    
    flush PRIVILEGES;
    
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mariadb-pvc
spec:
  accessModes: [ReadWriteOnce]
  resources:
    requests:
      storage: 1Gi
  storageClassName: nfs-csi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mariadb
spec:
  replicas: 1
  selector:
    matchLabels: { app: mariadb }
  template:
    metadata:
      labels: { app: mariadb }
    spec:
      containers:
      - name: mariadb
        image: mariadb:11
        env:
        - name: MARIADB_ROOT_PASSWORD
          value: rootpass
        ports:
        - containerPort: 3306
        volumeMounts:
        - mountPath: /var/lib/mysql
          subPath: "mysql"
          name: mariadb-data
        - mountPath: /docker-entrypoint-initdb.d
          name: pvc-nfs-dynamic-3tier-mariadb
      imagePullSecrets:
      - name: jarrod-secret-test
      volumes:
      - name: mariadb-data
        persistentVolumeClaim:
          claimName: mariadb-pvc
      - name: pvc-nfs-dynamic-3tier-mariadb
        configMap:
          name: mariadb-initdb-config
---
apiVersion: v1
kind: Service
metadata:
  name: mariadb
spec:
  selector: { app: mariadb }
  ports:
  - port: 3306
    targetPort: 3306
